In [23]:
#Carregando o conjunto de dados
import pandas as pd
arquivo = pd.read_csv('/home/danilo/Documentos/GitHub/Python/wine_dataset.csv')

In [24]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [25]:
arquivo['style'] = arquivo['style'].replace('red',0)

In [44]:
arquivo['style'] = arquivo['style'].replace('white',1)

In [45]:
# Separando as variáveis entre peditoras e variáveis alvo
y = arquivo['style']
x = arquivo.drop('style',axis=1)

In [46]:
y.shape

(6497,)

In [47]:
from sklearn.model_selection import train_test_split

# Criando os conjuntos de dados de treino e teste:
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y,test_size=0.3)

In [48]:
y_treino.shape

(4547,)

In [49]:
from sklearn.ensemble import ExtraTreesClassifier

# Criação do modelo:
modelo = ExtraTreesClassifier(n_estimators=100)
modelo.fit(x_treino,y_treino)

# Imprimindo resultados:
resultado = modelo.score(x_teste,y_teste)
print("Acurácia: ",resultado)

Acurácia:  0.9953846153846154

In [50]:
y_teste[400:403]

864     0
1459    0
4319    1
Name: style, dtype: int64

In [51]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
864,7.2,0.62,0.06,2.7,0.077,15.0,85.0,0.99746,3.51,0.54,9.5,5
1459,7.9,0.20,0.35,1.7,0.054,7.0,15.0,0.99458,3.32,0.80,11.9,7
4319,7.5,0.26,0.30,4.6,0.027,29.0,92.0,0.99085,3.15,0.38,12.0,7

In [54]:
previsoes = modelo.predict(x_teste[400:403])

In [55]:
previsoes

array([0, 0, 1])